<!doctype html>
<head>
  <title>hkd 2 sats</title>
  <link rel="stylesheet" type="text/css" href="/static/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/static/normalize.css">
  <link rel="stylesheet" type="text/css" href="/static/metricsgraphics.css">
  <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap" rel="stylesheet">
  <script src="/static/jquery.min.js"></script>
  <script src="/static/d3.v4.min.js"></script>
  <script src="/static/metricsgraphics.js"></script>
</head>
<body>
  <div class="row" align="right" style="margin: 20px">  中文 | <a href="/">EN </a>   </div>

  <div class="container" style="margin-top: 40px;">
    <div class="row">
      <center><h3>1 港幣現值 <span id="current"></span> sats</h3></center>
      <script>
      var currentPrice = 0; var ws_ticker_id, t;
   
      document.addEventListener('DOMContentLoaded', function() { startWebSocket(); }, false);
   
      function startWebSocket(){
        t=new WebSocket("wss://api-pub.bitfinex.com/ws/2");
   
        t.onmessage=function(e){
          var i=JSON.parse(e.data);
          if(i.event === 'subscribed' && i.channel == 'ticker'){ ws_ticker_id = i.chanId; }
          if(ws_ticker_id == i[0]){ updatePrice(i);	}				
        }
   
        t.onopen=function(e){
          console.log('Web socket open.');			
          t.send(JSON.stringify({"event":"subscribe", "channel": "ticker", "symbol": "BTCUSD"}));
          setPingTimer();
        }
   
        t.onclose=function(e){
          console.log('Web socket closed. Attempting to reopen.');
          setTimeout(function(){ startWebSocket(); }, 2000);
        }	
   
        t.onerror=function(e){	console.log(e);		}
      }
   
      function setPingTimer() { setInterval(function(){ t.send("ping"); }, 10000); 	}
    
      function updatePrice(i){
        if(Array.isArray(i)){			
          i.forEach(function(item){			
            if(Array.isArray(item)){ 
            var btc_price = item[0]; 
            currentPrice = Math.round((1/btc_price)*100000000/7.75); // satoshis per HKD dollar
            document.title = currentPrice.toLocaleString() + " sats";
	   document.querySelector('#current').textContent = currentPrice.toLocaleString();
		
            }				
          });		
        }	
      }
   
      </script>

      <div id='historical'>
      </div>
      
      <table class="u-full-width">
        <thead>
          <tr>
	    <th>日期</th>
            <th>价格</th>
            <th>百分比变化</th>
          </tr>
		</thead>
        <tbody>
		
          {% for dict_item in my_list %}
          <tr>
           {% for key, value in dict_item.items() %}
            <td>{{value}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
		
        </tbody>
      </table>
      
        <p>
	* 来自usdsat.com的数据源
	</p>
	</div>
  </div>
    <script>
    d3.json('/static/hkd_historical', function(data) {
        data = MG.convert.date(data, 'date');

		var windowWidth = $(window).width();

		if (windowWidth < 550) { 
		  var graphHeight = windowWidth / 1.9047;
		} else if (windowWidth < 1200) {  
		  var graphHeight = windowWidth * 0.8 / 1.9047;
		} else { 
		  var graphHeight = 500;
		}

        var qhLink = function() {
            window.open('https://en.bitcoin.it/wiki/Controlled_supply', '_blank');
        };
        
		var qeLink = function() {
            window.open('https://en.wikipedia.org/wiki/Quantitative_easing', '_blank');
        };

        var markers = [{
            'date': new Date('2008-11-25T00:00:00.000Z'),
            'label': 'QE1',
	        'click': qeLink,
        }, {
            'date': new Date('2010-11-03T00:00:00.000Z'),
            'label': 'QE2',
	        'click': qeLink,
        }, {
            'date': new Date('2012-09-13T00:00:00.000Z'),
            'label': 'QE3',
	        'click': qeLink,
        }, {
            'date': new Date('2012-11-28T00:00:00.000Z'),
            'label': 'QH1',
	        'click': qhLink,
        }, {
            'date': new Date('2016-07-09T00:00:00.000Z'),
            'label': 'QH2',
	        'click': qhLink,
        }, {
            'date': new Date('2019-10-11T00:00:00.000Z'),
            'label': 'QE4',
	        'click': qeLink,
        }, {
            'date': new Date('2020-05-11T00:00:00.000Z'),
            'label': 'QH3',
	        'click': qeLink,
        }];

        MG.data_graphic({
            title: 'HKDSAT 過往表現',
            data: data,
            full_width: true,
            height: graphHeight,
			left: 52,
            area: true,
            color: '#FF9900',
            markers: markers,
            target: document.getElementById('historical'),
            xax_count: 10,
            yax_count: 8,
            x_accessor: 'date',
            y_accessor: 'sathkd_rate',
            y_scale_type: 'log',
            y_extended_ticks: true,
            yax_units: ' sats',
            yax_units_append: true,
        });

        $(document).ready(function() {
          d3.select('svg')
		  .data(data)
          .append('defs')

          .append('pattern')
          .attr('id', 'losermoney')
          .attr('patternUnits', 'userSpaceOnUse')
          .attr('width', '100%')
          .attr('height', '100%')

          .append('image')
          .attr('width', '100%')
          .attr('height', '100%')
          .attr('xlink:href', '/static/assets/10hkd.jpg');

          $('svg path')
          .css('opacity', 1)
          .css('stroke', 'green')
          .attr('fill', 'url(#losermoney)');
        });
        
      });
    </script>

</body>

