<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>
  </head>

<body>
    <h1> this is a test</h1>
    <div>
      <p>My string: {{my_string}}</p>
      <p>Loop through the list:</p>
      <ul>
      </ul>
    </div>

    <table class="u-full-width">
        <thead>
          <tr>
	    <th>Date</th>
            <th>Price</th>
            <th>Percent Change</th>
          </tr>
		</thead>
        <tbody>

          {% for dict_item in my_list %}
          <tr>
           {% for key, value in dict_item.items() %}
            <td>{{value}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
  
        </tbody>
    </table>


  </body>

  </html>